meta {
  -theme-display-name: "Aventura Daybreak";
  -theme-interface-style: light;
  -theme-vibrancy: vibrant;
  -theme-accent-color: false;
}

/* window */

meta.titlebar {
  color: hsla(0, 0%, 30%, 1);
  border: hsla(0, 0%, 50%, 0.5);
  background-color: hsla(0, 0%, 97%, 1);
}

meta.window {
  border: hsla(0, 0%, 30%, 0.2);
  background-color: hsla(0, 0%, 92%, 1);
}

/* window ui */

meta.button {
  color: hsla(0, 0%, 40%, 0.9);
  border: linear-gradient(
    hsla(0, 0%, 40%, 0.2),
    hsla(0, 0%, 30%, 0.5) 50%,
    hsla(216, 9%, 30%, 0.3)
  );
  background: linear-gradient(
    hsla(0, 0%, 100%, 0.3),
    hsla(0, 0%, 90%, 0.3) 66%,
    hsla(216, 23%, 78%, 0.3)
  );
}

meta.document.button {
  color: hsla(0, 0%, 40%, 0.9);
  border: linear-gradient(
    hsla(0, 0%, 40%, 0.2),
    hsla(0, 0%, 30%, 0.5) 50%,
    hsla(216, 9%, 30%, 0.3)
  );
  background: linear-gradient(
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 90%, 0.2) 66%,
    hsla(216, 23%, 68%, 0.1)
  );
}

meta.button.selected {
  color: hsla(198, 37%, 23%, 0.7);
}

meta.document.button.selected {
  color: hsla(198, 45%, 32%, 0.7);
}

meta.button.highlighted,
meta.button.highlighted.selected {
  color: hsla(198, 40%, 32%, 0.7);
}

meta.document.button.highlighted,
meta.document.button.highlighted.selected {
  color: hsla(198, 60%, 33%, 0.7);
}

meta.button.disabled,
meta.document.button.disabled {
  color: hsla(0, 0%, 30%, 0.2);
  border: linear-gradient(hsla(0, 0%, 60%, 0.2), hsla(210, 3%, 48%, 0.2));
  background: hsla(0, 0%, 100%, 0);
}

meta.textfield {
  border: hsla(0, 0%, 40%, 0.3);
  background: hsla(0, 0%, 70%, 0.2);
}

meta.document.textfield {
  border: hsla(0, 0%, 40%, 0.3);
  background-color: hsla(0, 0%, 60%, 0.1);
}

meta.textfield.highlighted {
  border: hsla(0, 0%, 40%, 0.2);
  background: hsla(0, 0%, 99%, 1);
}

meta.document.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
}

/* text editing styles */

meta.document {
  border: hsla(0, 0%, 30%, 0.2);
  background-color: hsla(176, 18%, 98%, 1);
}

meta.text {
  color: hsla(0, 0%, 40%, 1);
}

meta.text.invisible {
  color: hsla(0, 0%, 90%, 0.7);
}

meta.text.selected {
  background: hsla(198, 24%, 93%, 1);
}

meta.cursor {
  background: hsla(198, 19%, 95%, 1);
}

meta.gutter {
  color: hsla(0, 0%, 90%, 1);
}

meta.gutter.selected {
  color: hsla(0, 0%, 50%, 0.9);
}

/* terminal styles (and color palette) */

terminal.black {
  color: hsla(0, 0%, 30%, 1);
}

terminal.red {
  color: hsla(21, 100%, 37%, 1);
}

terminal.green {
  color: hsla(176, 25%, 41%, 1);
}

terminal.yellow {
  color: hsla(34, 100%, 40%, 1);
}

terminal.blue {
  color: hsla(216, 33%, 48%, 1);
}

terminal.magenta {
  color: hsla(353, 57%, 40%, 1);
}

terminal.cyan {
  color: hsla(198, 62%, 45%, 1);
}

terminal.white {
  color: hsla(0, 0%, 80%, 1);
}

terminal.bright-black {
  color: hsla(0, 0%, 40%, 1);
}

terminal.bright-red {
  color: hsla(21, 94%, 45%, 1);
}

terminal.bright-green {
  color: hsla(176, 33%, 53%, 1);
}

terminal.bright-yellow {
  color: hsla(34, 58%, 53%, 1);
}

terminal.bright-blue {
  color: hsla(216, 38%, 63%, 1);
}

terminal.bright-magenta {
  color: hsla(353, 60%, 55%, 1);
}

terminal.bright-cyan {
  color: hsla(198, 47%, 58%, 1);
}

terminal.bright-white {
  color: hsla(0, 0%, 90%, 1);
}

/* syntax styles */

/* global */

tag,
dot,
comma,
bracket,
semicolon,
punctuation.delimiter,
style.attribute {
  color: hsla(0, 0%, 40%, 0.9);
  font-weight: 100;
}

operator {
  color: hsla(198, 47%, 58%, 1);
  font-weight: 500;
}

comment {
  color: hsla(0, 0%, 60%, 0.8);
}

value.number {
  color: hsla(353, 60%, 55%, 1);
}

value.number.unit {
  color: hsla(0, 0%, 40%, 0.9);
  font-weight: 100;
}

link {
  text-decoration: underline;
}

string,
string-keyword,
string-template {
  color: hsla(34, 100%, 40%, 1);
}

string.escape {
  color: hsla(34, 58%, 53%, 1);
}

string.delimiter {
  color: hsla(0, 0%, 50%, 1);
  font-weight: 300;
}

/* keywords */

keyword {
  color: hsla(216, 33%, 48%, 1);
  font-style: italic;
}

keyword.modifier,
keyword.self {
  color: hsla(216, 38%, 63%, 1);
  font-style: italic;
}

/* identifiers */

identifier,
identifier.name {
  color: hsla(0, 0%, 30%, 1);
}

identifier.type,
identifier.function {
  color: hsla(353, 57%, 40%, 1);
}

identifier.variable.builtin,
identifier.type.constructors {
  color: hsla(21, 94%, 45%, 1);
}

identifier.argument,
identifier.property {
  color: hsla(176, 25%, 41%, 1);
}

identifier.argument.prefix,
identifier.property.prefix {
  color: hsla(198, 47%, 58%, 1);
}

identifier.method,
identifier.decorator {
  color: hsla(198, 62%, 45%, 1);
}

identifier.key {
  color: hsla(176, 25%, 41%, 1);
}

identifier.key.delimiter {
  color: hsla(0, 0%, 50%, 1);
  font-weight: 300;
}

/* regex */

regex {
  color: hsla(176, 25%, 41%, 1);
}

regex.escape {
  color: hsla(176, 33%, 53%, 1);
}

cdata {
  color: hsla(0, 0%, 30%, 1);
}

/* definitions */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name,
definition.property.name,
definition.function.name,
definition.method.name {
  color: hsla(0, 0%, 30%, 1);
}

/* tags */

processing.doctype {
  color: hsla(353, 57%, 40%, 1);
}

tag.attribute.value {
  color: hsla(34, 100%, 40%, 1);
  font-weight: 400;
}

tag.attribute.value.delimiter {
  color: hsla(0, 0%, 50%, 1);
  font-weight: 300;
}

tag.name,
tag.framework.name {
  color: hsla(176, 25%, 41%, 1);
  font-weight: 400;
}

jsx.tag.name {
  color: hsla(176, 33%, 53%, 1);
  font-weight: 400;
}

tag.attribute.name,
tag.framework.attribute.name {
  color: hsla(216, 33%, 48%, 1);
  font-style: italic;
  font-weight: 400;
}

/* stylesheets */

style.at {
  color: hsla(34, 100%, 40%, 1);
}

style.selector.element {
  color: hsla(216, 33%, 48%, 1);
}

style.selector.identifier.pseudoelement {
  color: hsla(216, 38%, 63%, 1);
  font-weight: 300;
}

style.selector.identifier.id {
  color: hsla(198, 62%, 45%, 1);
}

style.selector.identifier.class {
  color: hsla(176, 25%, 41%, 1);
}

style.selector.identifier.pseudoclass {
  color: hsla(176, 33%, 53%, 1);
  font-weight: 300;
}

style.attribute.name {
  color: hsla(0, 0%, 40%, 1);
  font-weight: 400;
}

style.value.color.hex {
  color: hsla(353, 57%, 40%, 1);
}

style.value.keyword,
style.value.color.named {
  color: hsla(21, 94%, 45%, 1);
}

/* markup */

markup {
  color: hsla(0, 0%, 40%, 1);
}

markup.bold,
markup.heading {
  font-weight: 600;
  color: hsla(0, 0%, 40%, 1);
}

markup.link {
  color: hsla(216, 33%, 48%, 1);
}

markup.strikethrough {
  color: hsla(0, 0%, 60%, 1);
  text-decoration: line-through;
  font-weight: 300;
}

markup.code {
  color: hsla(176, 25%, 41%, 1);
}

markup.italic {
  color: hsla(0, 0%, 40%, 1);
  font-style: oblique;
}

/* the cascade */
