meta {
  -theme-display-name: "Aventura Dark";
  -theme-interface-style: dark;
  -theme-vibrancy: vibrant;
  -theme-accent-color: false;
}

/* window styles */

meta.window {
  background-color: hsla(0, 0%, 0%, 1);
  border-color: hsla(0, 0%, 23%, 0.5);
}

meta.titlebar {
  color: hsl(0, 0%, 92%);
  background-color: hsla(0, 0%, 0%, 1);
  border-color: hsla(0, 0%, 23%, 0.8);
}

/* ui */

meta.button {
  background: hsl(120, 1%, 34%);
  border: linear-gradient(hsla(0, 0%, 42%, 1), hsla(180, 2%, 9%, 0));
  color: hsl(0, 0%, 90%);
}

meta.button.highlighted {
  background: hsl(120, 1%, 44%);
  border: linear-gradient(hsl(210, 5%, 34%), hsl(210, 5%, 30%));
  color: hsl(0, 0%, 90%);
}

meta.button.selected {
  background: hsl(0, 0%, 46%);
  border: hsla(0, 0%, 44%, 0);
  color: hsla(0, 0%, 92%, 1);
}

meta.button.highlighted.selected {
  color: #fff;
}

meta.textfield,
meta.textfield.highlighted {
  background-color: hsl(202, 17%, 2%);
  border-color: hsl(0, 0%, 12%);
}

meta.document.button {
  background: hsl(120, 1%, 34%);
  border: linear-gradient(hsla(0, 0%, 42%, 1), hsla(180, 2%, 9%, 0));
}

meta.document.button.disabled {
  background: linear-gradient(hsla(220, 5%, 35%, 0.3), hsla(220, 5%, 31%, 0.3));
}

meta.document.button.highlighted {
  background: hsl(120, 1%, 44%);
  border: linear-gradient(hsl(210, 5%, 34%), hsl(210, 5%, 30%));
}

meta.document.textfield {
  background-color: hsla(198, 23%, 12%, 1);
  border-color: hsla(198, 13%, 25%, 1);
}

meta.document.textfield.highlighted {
  background-color: hsla(198, 23%, 12%, 1);
  border-color: hsla(198, 13%, 25%, 1);
}

/* text editing */

meta.document {
  background-color: hsla(0, 0%, 12%, 1);
  border-color: hsla(198, 23%, 12%, 0.5);
}

meta.text {
  color: hsla(40, 60%, 99%, 0.7);
}

meta.text.invisible {
  color: hsla(40, 60%, 99%, 0.15);
}

meta.text.selected {
  color: hsla(40, 60%, 99%, 0.5);
}

meta.cursor {
  background-color: hsla(17, 52%, 45%, 0.33);
}

meta.indentguide {
  border-color: hsla(40, 60%, 99%, 0.05);
}

meta.gutter {
  color: hsla(40, 60%, 99%, 0.05);
}

meta.gutter.selected {
  color: hsla(40, 60%, 99%, 0.2);
}

/* Syntax styles */

comment {
  color: hsla(40, 60%, 99%, 0.3);
  font-style: italic;
}

processing {
  color: hsla(40, 60%, 99%, 0.7);
}

declaration {
  color: hsla(347, 70%, 60%, 1);
}

bracket,
operator,
semicolon,
dot,
comma {
  color: hsla(40, 60%, 99%, 0.3);
}

invalid {
  background-color: hsla(347, 70%, 60%, 1);
  color: hsla(40, 60%, 99%, 0.7);
}

link {
  color: hsla(40, 60%, 99%, 0.7);
}

/* keywords */

keyword {
  color: hsla(27, 95%, 43%, 1);
}

keyword.modifier {
  color: hsla(40, 60%, 99%, 0.7);
}

keyword.condition {
  color: hsla(40, 60%, 99%, 0.7);
}

keyword.construct {
  color: hsla(40, 60%, 99%, 0.7);
}

keyword.statement {
  color: hsla(40, 60%, 99%, 0.7);
}

keyword.self {
  color: hsla(347, 70%, 60%, 1);
}

keyword.self.prefix {
  color: hsla(40, 60%, 99%, 0.7);
}

/* values */

value.boolean {
  color: hsla(175, 95%, 26%, 0.9);
}

value.null {
  color: hsla(40, 60%, 99%, 0.7);
}

value.number {
  color: hsla(207, 51%, 45%, 1);
}

value.entity {
  color: hsla(207, 51%, 45%, 1);
}

value.symbol {
  color: hsla(207, 51%, 45%, 1);
}

/* identifiers */

identifier {
  color: hsla(27, 95%, 43%, 1);
}

identifier.constant,
identifier.global,
identifier.variable {
  color: hsla(40, 60%, 99%, 0.7);
}

identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsla(40, 60%, 99%, 0.7);
}

identifier.property {
  color: hsla(175, 95%, 36%, 1);
}

identifier.property.prefix {
  color: hsla(40, 60%, 99%, 0.7);
}

identifier.decorator,
identifier.function {
  color: hsla(175, 95%, 36%, 1);
}

identifier.method {
  color: hsla(42, 98%, 43%, 1);
}

identifier.key {
  color: hsla(175, 95%, 36%, 1);
}

identifier.argument {
  color: hsla(27, 95%, 43%, 1);
}

identifier.argument.prefix {
  color: hsla(40, 60%, 99%, 0.7);
}

/* strings */

string {
  color: hsla(347, 70%, 60%, 1);
}

string.delimiter {
  color: hsla(347, 70%, 60%, 0.6);
}

string.escape {
  color: hsla(175, 95%, 26%, 0.9);
}

string.key {
  color: hsla(42, 98%, 43%, 0.8);
}

string-keyword {
  color: hsla(40, 60%, 99%, 0.8);
}

string-template {
  color: hsla(40, 60%, 99%, 0.8);
}

regex {
  color: hsla(40, 60%, 99%, 0.8);
}

regex.escape {
  color: hsla(40, 60%, 99%, 0.8);
}

cdata {
  color: hsla(40, 60%, 99%, 0.8);
}

/* Types */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsla(40, 60%, 99%, 0.8);
}

/* members */

definition.property.name {
  color: hsla(40, 60%, 99%, 0.8);
}

definition.function.name,
definition.method.name {
}

/* javascript and jsx */

javascript.bracket {
  color: hsla(40, 60%, 99%, 0.3);
}

javascript.operator {
  color: hsla(42, 98%, 43%, 1);
}

jsx.tag.framework {
  color: hsla(40, 60%, 99%, 0.4);
}

jsx.tag.framework.name {
  color: hsla(207, 61%, 60%, 0.8);
}

jsx.tag.framework.attribute.name {
  color: hsla(175, 95%, 36%, 1);
}

jsx.tag.framework.attribute.operator {
  color: hsla(175, 95%, 36%, 0.6);
}

/* tags */

tag {
  color: hsla(40, 60%, 99%, 0.3);
}

tag.name {
  color: hsla(207, 51%, 45%, 0.8);
}

tag.framework {
  color: hsla(40, 60%, 99%, 0.7);
}

tag.framework.name {
  color: hsla(40, 60%, 99%, 0.7);
}

tag.attribute.name {
  color: hsla(175, 95%, 36%, 1);
}

tag.framework.attribute.name {
  color: hsla(175, 95%, 36%, 1);
}

tag.attribute.value {
  color: hsla(347, 70%, 60%, 1);
}

tag.attribute.value.delimiter {
  color: hsla(347, 70%, 60%, 0.6);
}

tag.attribute.operator {
  color: hsla(175, 95%, 36%, 0.6);
}

tag.attribute.value.link {
  color: hsla(347, 70%, 60%, 1);
}

/* css */

style.at {
  color: hsla(40, 60%, 99%, 0.7);
  font-weight: bold;
}

style.selector.element {
  color: hsla(207, 51%, 45%, 1);
}

style.selector.identifier.id {
  color: hsla(207, 51%, 45%, 1);
}

style.selector.identifier.class {
  color: hsla(175, 95%, 36%, 1);
}

style.selector.pseudoclass {
  color: hsla(175, 95%, 26%, 0.7);
}

style.selector.pseudoelement {
  color: hsla(175, 95%, 26%, 0.7);
}

style.attribute.name {
  color: hsla(40, 60%, 99%, 0.7);
}

style.value.number {
  color: hsla(27, 95%, 43%, 1);
}

style.value.color.hex {
  color: hsla(27, 95%, 43%, 1);
}

style.value.keyword {
  color: hsla(27, 95%, 43%, 1);
}

style.value.color.named {
  color: hsla(27, 95%, 43%, 1);
}

style.value.identifier.function {
  color: hsla(42, 98%, 43%, 1);
}

/* Markup */

markup.heading {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.line {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.bold {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.italic {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.strikethrough {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.list.item {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.code {
  color: hsla(40, 60%, 99%, 0.7);
}

markup.link {
  color: hsla(40, 60%, 99%, 0.7);
}
