meta {
  -theme-display-name: "Aventura Light";
  -theme-interface-style: light;
  -theme-vibrancy: vibrant;
  -theme-accent-color: true;
}

/* window */

meta.window {
  background-color: hsla(0, 0%, 100%, 1);
  border-color: hsla(0, 0%, 77%, 0.5);
}

meta.titlebar {
  color: #49494a;
  background-color: hsla(0, 0%, 100%, 1);
  border-color: hsla(0, 0%, 77%, 0.8);
}

meta.titlebar.inactive {
  color: hsl(180, 1%, 82%);
  background-color: hsl(0, 0%, 91%);
  border-color: hsla(180, 1%, 78%, 1);
}

/* ui */

meta.button {
  color: #262626;
  background: #ffffff;
  border: linear-gradient(#dededf, #bdbdbd);
}

meta.button.highlighted {
  background: hsla(0, 3%, 94%, 1);
  color: hsla(0, 0%, 15%, 1);
  border: hsla(0, 0%, 71%, 1);
}

meta.button.selected {
  background: hsl(0, 0%, 91%);
  color: hsla(177, 0%, 100%, 1);
  border: hsla(177, 1%, 59%, 0);
}

meta.button.highlighted.selected {
  color: white;
}

meta.button.disabled {
  background: hsla(177, 0%, 59%, 0.2);
  color: hsla(177, 0%, 62%, 1);
  border: hsla(177, 1%, 72%, 1);
}

meta.textfield {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.document.button {
  color: #262626;
  background: #ffffff;
  border: linear-gradient(#dededf, #bdbdbd);
}

meta.document.button.disabled {
  background: linear-gradient(hsla(220, 5%, 35%, 0.3), hsla(220, 5%, 31%, 0.3));
}

meta.document.button.highlighted {
  background: linear-gradient(hsl(210, 5%, 34%), hsl(210, 5%, 30%));
}

meta.document.textfield {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.document.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

/* text editing */

meta.document {
  background-color: hsl(42, 50%, 99%);
  color: hsla(0, 0%, 40%, 0.5);
}

meta.text {
  color: hsla(192, 25%, 12%, 0.8);
  font-weight: 200;
}

meta.text.invisible {
  color: hsla(192, 25%, 12%, 0.12);
}

meta.cursor {
  background-color: hsla(203, 17%, 81%, 1);
}

meta.indentguide {
  border-color: hsla(192, 25%, 12%, 0.12);
}

meta.gutter {
  color: hsla(192, 25%, 12%, 0.2);
  font-weight: 100;
}

meta.gutter.selected {
  color: hsla(192, 25%, 12%, 0.4);
  font-weight: 600;
}

/* Syntax styles */

comment {
  color: hsla(192, 25%, 12%, 0.4);
  font-style: italic;
  font-weight: 200;
}

processing {
  color: hsla(192, 25%, 12%, 1);
}

declaration {
  color: hsla(347, 89%, 40%, 1);
}

bracket,
operator,
semicolon,
dot,
comma {
  color: hsla(192, 15%, 12%, 0.6);
  font-weight: 100;
}

invalid {
  background-color: hsla(347, 89%, 40%, 1);
  color: hsla(192, 25%, 12%, 1);
}

link {
  color: hsla(192, 25%, 12%, 1);
}

/* keywords */

keyword {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

keyword.modifier {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 200;
}

keyword.condition {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 200;
}

keyword.construct {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 200;
}

keyword.statement {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 200;
}

keyword.self {
  color: hsla(347, 89%, 40%, 1);
}

keyword.self.prefix {
  color: hsla(192, 25%, 12%, 1);
}

/* values */

value.boolean {
  color: hsla(180, 70%, 35%, 0.75);
  font-weight: 500;
  font-style: italic;
}

value.null {
  color: hsla(192, 25%, 12%, 1);
}

value.number {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 300;
}

value.entity {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 300;
}

value.symbol {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 300;
}

/* identifiers */

identifier {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

identifier.constant,
identifier.global,
identifier.variable {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsla(192, 25%, 12%, 1);
}

identifier.property {
  color: hsla(175, 95%, 26%, 0.9);
}

identifier.property.prefix {
  color: hsla(192, 25%, 12%, 1);
}

identifier.decorator,
identifier.function {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

identifier.method {
  color: hsla(38, 100%, 47%, 1);
  font-weight: 500;
}

identifier.key {
  color: hsla(175, 95%, 26%, 0.9);
}

identifier.argument {
  color: hsla(27, 95%, 43%, 1);
}

identifier.argument.prefix {
  color: hsla(192, 25%, 12%, 1);
}

/* strings */

string {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

string.delimiter {
  color: hsla(358, 67%, 44%, 0.75);
  font-weight: 100;
}

string.escape {
  color: hsla(175, 95%, 26%, 0.9);
}

string.key {
  color: hsla(38, 100%, 47%, 1);
  font-weight: 500;
}

string-keyword {
  color: hsla(192, 25%, 12%, 1);
}

string-template {
  color: hsla(192, 25%, 12%, 1);
}

regex {
  color: hsla(192, 25%, 12%, 1);
}

regex.escape {
  color: hsla(192, 25%, 12%, 1);
}

cdata {
  color: hsla(192, 25%, 12%, 1);
}

/* Types */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsla(192, 25%, 12%, 1);
}

/* members */

definition.property.name {
  color: hsla(192, 25%, 12%, 1);
}

definition.function.name,
definition.method.name {
}

/* javascript and jsx */

javascript.bracket,
javascript.block {
  color: hsla(192, 15%, 12%, 0.6);
  font-weight: 100;
}

javascript.operator {
  color: hsla(38, 100%, 47%, 1);
  font-weight: 500;
}

jsx.tag.framework {
  color: hsla(192, 25%, 12%, 0.4);
}

jsx.tag.framework.name {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 600;
}

jsx.tag.framework.attribute.name {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 500;
}

jsx.tag.framework.attribute.operator {
  color: hsla(180, 70%, 35%, 0.75);
  font-weight: 100;
}

jsx.tag.attribute.value {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

jsx.tag-content.bare-words {
  color: hsla(192, 25%, 12%, 0.8);
  font-weight: 200;
}

/* tsx */

tsx.tag.framework {
  color: hsla(192, 25%, 12%, 0.4);
}

tsx.tag.framework.name {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 600;
}

tsx.tag.framework.attribute.name {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 500;
}

tsx.tag.framework.attribute.operator {
  color: hsla(180, 70%, 35%, 0.75);
  font-weight: 100;
}

tsx.tag.attribute.value {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

tsx.tag-content.bare-words {
  color: hsla(192, 25%, 12%, 0.8);
  font-weight: 200;
}

/* tags */

tag {
  color: hsla(200, 100%, 35%, 0.75);
  font-weight: 100;
}

tag.name {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 500;
}

tag.framework {
  color: hsla(0, 100%, 0%, 1);
}

tag.framework.name {
  color: hsla(0, 100%, 0%, 1);
}

tag.attribute.name {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 500;
}

tag.framework.attribute.name {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 500;
}

tag.attribute.value {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

tag.attribute.value.delimiter {
  color: hsla(358, 67%, 44%, 0.75);
  font-weight: 100;
}

tag.attribute.operator {
  color: hsla(180, 70%, 35%, 0.75);
  font-weight: 100;
}

tag.attribute.value.link {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
  text-decoration: underline;
}

/* css */

style.at {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 600;
}

style.selector {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 600;
}

style.selector.element {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 600;
}

style.selector.identifier.id {
  color: hsla(230, 50%, 45%, 1);
  font-weight: 600;
}

style.selector.identifier.class {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 400;
}

style.selector.pseudoclass {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 400;
}

style.selector.pseudoelement {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 400;
}

style.attribute.name {
  color: hsla(192, 25%, 12%, 1);
  font-weight: 200;
}

style.value.number {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

style.value.color.hex {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

style.value.keyword {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

style.value.color.named {
  color: hsla(27, 95%, 43%, 1);
  font-weight: 500;
}

style.value.identifier.function {
  color: hsla(38, 100%, 47%, 1);
  font-weight: 500;
}

/* Markup */

markup.heading {
  color: hsla(192, 25%, 12%, 1);
}

markup.line {
  color: hsla(192, 25%, 12%, 1);
}

markup.bold {
  color: hsla(192, 25%, 12%, 1);
}

markup.italic {
  color: hsla(192, 25%, 12%, 1);
}

markup.strikethrough {
  color: hsla(192, 25%, 12%, 1);
}

markup.list.item {
  color: hsla(192, 25%, 12%, 1);
}

markup.code {
  color: hsla(192, 25%, 12%, 1);
}

markup.link {
  color: hsla(192, 25%, 12%, 1);
}
