meta {
  -theme-display-name: "Aventura Light";
  -theme-interface-style: light;
  -theme-vibrancy: vibrant;
  -theme-accent-color: true;
}

/* window */

meta.window {
  background-color: #fcfcfc;
  border-color: hsla(0, 0%, 65%, 0.5);
}

meta.titlebar {
  color: #49494a;
  background-color: #f4f4f2;
  border-color: hsla(0, 0%, 65%, 0.8);
}

meta.titlebar.inactive {
  color: hsl(180, 1%, 82%);
  background-color: hsl(0, 0%, 91%);
  border-color: hsla(180, 1%, 78%, 1);
}

/* ui */

meta.button,
meta.document.button {
  color: rgba(64, 63, 59, 0.798);
  background: #ffffff;
  border: linear-gradient(#d6dadc, #d6dadc);
}

meta.button.disabled,
meta.document.button.disabled {
  color: #b9babb;
  background: hsla(200, 20%, 97%, 0.5);
  border: linear-gradient(#e1e5e7, #d1d5d7);
}

meta.button.highlighted,
meta.button.highlighted {
  background: linear-gradient(hsla(0, 0%, 94%, 0.75), rgba(240, 240, 240, 0.75));
}

meta.button.selected,
meta.document.button.selected {
  background: linear-gradient(#c5704a, #bc592f);
  border: linear-gradient(#c5704a, #bc592f);
  color: #fffefd;
}

meta.textfield {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.textfield {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.document.textfield {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

meta.document.textfield.highlighted {
  background-color: hsla(0, 0%, 100%, 1);
  border: linear-gradient(#ebebec, #c1c2c1);
}

/* text editing */

meta.document {
  background-color: #fffefd;
  border-color: hsla(54, 6%, 31%, 0.2);
}

meta.text {
  color: hsla(54, 6%, 31%, 1);
  font-weight: 500;
}

meta.text.invisible {
  color: hsla(54, 6%, 31%, 0.12);
  font-weight: 100;
}

meta.cursor {
  background-color: #fcefc3;
}

meta.indentguide {
  color: hsla(54, 6%, 31%, 0.2);
}

meta.gutter {
  color: hsla(54, 6%, 31%, 0.17);
  font-weight: 100;
}

meta.gutter.selected {
  color: hsla(54, 6%, 31%, 0.5);
  font-weight: 100;
}

/* Syntax styles */

comment {
  color: hsla(54, 6%, 31%, 0.5);
  font-style: italic;
  font-weight: 100;
}

processing {
  color: hsla(54, 6%, 31%, 1);
}

declaration {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

bracket,
operator,
semicolon,
dot,
comma {
  color: hsla(54, 6%, 31%, 0.6);
  font-weight: 100;
}

invalid {
  background-color: hsla(347, 89%, 40%, 1);
  color: hsla(54, 6%, 31%, 1);
}

link {
  color: hsla(54, 6%, 31%, 1);
}

/* keywords */

keyword {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 400;
}

keyword.modifier {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 100;
}

keyword.condition {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 100;
}

keyword.construct {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 100;
}

keyword.statement {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 100;
}

keyword.self {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

keyword.self.prefix {
  color: hsla(54, 6%, 31%, 1);
}

/* values */

value.boolean {
  color: #8d8cd7;
  font-weight: 100;
  font-style: italic;
}

value.null {
  color: hsla(54, 6%, 31%, 1);
}

value.number {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 600;
}

value.entity {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 300;
}

value.symbol {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 300;
}

/* identifiers */

identifier {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
  text-decoration: underline;
}

identifier.constant,
identifier.global,
identifier.variable {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
  color: hsla(54, 6%, 31%, 1);
}

identifier.property {
  color: hsla(175, 95%, 26%, 0.9);
}

identifier.property.prefix {
  color: hsla(54, 6%, 31%, 1);
}

identifier.decorator,
identifier.function {
  color: hsla(46, 100%, 47%, 1);
  font-weight: 500;
}

identifier.method {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
  text-decoration: underline;
}

identifier.key {
  color: hsla(175, 95%, 26%, 0.9);
}

identifier.argument {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
  text-decoration: underline;
}

identifier.argument.prefix {
  color: hsla(54, 6%, 31%, 1);
}

/* strings */

string {
  color: hsla(358, 67%, 44%, 1);
  font-weight: 400;
}

string.delimiter {
  color: hsla(54, 6%, 31%, 0.6);
  font-weight: 100;
}

string.escape {
  color: hsla(175, 95%, 26%, 0.9);
}

string.key {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
  text-decoration: underline;
}

string-keyword {
  color: hsla(54, 6%, 31%, 1);
}

string-template {
  color: hsla(54, 6%, 31%, 1);
}

regex {
  color: hsla(54, 6%, 31%, 1);
}

regex.escape {
  color: hsla(54, 6%, 31%, 1);
}

cdata {
  color: hsla(54, 6%, 31%, 1);
}

/* Types */

definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
  color: hsla(54, 6%, 31%, 1);
}

/* members */

definition.property.name {
  color: hsla(54, 6%, 31%, 1);
}

definition.function.name,
definition.method.name {
}

/* javascript and jsx */

javascript.bracket,
javascript.block {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

javascript.operator {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

jsx.tag.framework {
  color: hsla(192, 25%, 12%, 0.6);
}

jsx.tag.framework.name {
  color: hsla(200, 100%, 35%, 1);
  font-weight: 400;
}

jsx.tag.framework.attribute.name {
  color: hsla(180, 70%, 35%, 1);
  font-weight: 500;
}

jsx.tag.framework.attribute.operator {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

jsx.tag.attribute.value {
  color: hsla(1, 50%, 55%, 1);
  font-weight: 400;
}

jsx.tag-content.bare-words {
  color: hsla(192, 25%, 12%, 0.8);
  font-weight: 200;
}

/* tsx */

tsx.tag.framework {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

tsx.tag.framework.name {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 500;
}

tsx.tag.framework.attribute.name {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

tsx.tag.framework.attribute.operator {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

tsx.tag.attribute.value {
  color: hsla(1, 50%, 55%, 1);
  font-weight: 400;
}

tsx.tag-content.bare-words {
  color: hsla(192, 25%, 12%, 0.8);
  font-weight: 200;
}

/* tags */

tag {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

tag.name {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 500;
}

tag.framework {
  color: hsla(54, 6%, 31%, 0.5);
  font-weight: 100;
}

tag.framework.name {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 500;
}

tag.attribute.name {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

tag.framework.attribute.name {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

tag.attribute.value {
  color: hsla(1, 50%, 55%, 1);
  font-weight: 400;
}

tag.attribute.value.delimiter {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

tag.attribute.operator {
  color: hsla(54, 6%, 31%, 0.7);
  font-weight: 200;
}

tag.attribute.value.link {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
  text-decoration: underline;
}

/* css */

style.at {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 600;
}

style.selector {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 600;
}

style.selector.element {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 600;
}

style.selector.identifier.id {
  color: hsla(210, 40%, 40%, 1);
  font-weight: 600;
}

style.selector.identifier.class {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

style.selector.pseudoclass {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

style.selector.pseudoelement {
  color: hsla(180, 70%, 30%, 1);
  font-weight: 400;
  font-style: italic;
}

style.attribute.name {
  color: hsla(54, 6%, 31%, 1);
  font-weight: 400;
}

style.value.number {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
}

style.value.color.hex {
  color: hsla(23, 80%, 50%, 1);
  font-weight: 500;
}

style.value.keyword {
  color: hsla(1, 50%, 55%, 1);
  font-weight: 400;
}

style.value.color.named {
  color: hsla(1, 50%, 55%, 1);
  font-weight: 400;
}

style.value.identifier.function {
  color: hsla(46, 100%, 47%, 1);
  font-weight: 500;
}

/* markup */

markup.heading {
  color: hsla(54, 6%, 31%, 1);
}

markup.line {
  color: hsla(54, 6%, 31%, 1);
}

markup.bold {
  color: hsla(54, 6%, 31%, 1);
}

markup.italic {
  color: hsla(54, 6%, 31%, 1);
}

markup.strikethrough {
  color: hsla(54, 6%, 31%, 1);
}

markup.list.item {
  color: hsla(54, 6%, 31%, 1);
}

markup.code {
  color: hsla(54, 6%, 31%, 1);
}

markup.link {
  color: hsla(54, 6%, 31%, 1);
}
