meta {
  -theme-display-name: "Aventura Daybreak";
  -theme-interface-style: light;
  -theme-vibrancy: vibrant;
  -theme-accent-color: true;
}

/* window */

meta.window {
  background: hsla(0, 0%, 96%, 1);
  border: hsla(0, 0%, 50%, 0.28);
}

meta.titlebar {
  background: hsla(60, 0%, 99%, 1);
  border: hsla(0, 0%, 50%, 0.4);
  color: hsla(0, 0%, 30%, 1);
}

meta.titlebar.inactive {
  color: hsl(180, 1%, 82%);
  background: hsl(0, 0%, 91%);
  border: hsla(180, 1%, 78%, 1);
}

/* window ui */

meta.button {
  background: hsla(0, 0%, 50%, 0);
  border: hsla(0, 0%, 50%, 0);
  color: hsla(0, 0%, 14%, 1);
}

meta.button.highlighted {
  background: hsla(0, 0%, 50%, 0.15);
  border: hsla(0, 0%, 50%, 0.15);
  color: hsla(0, 0%, 14%, 1);
}

meta.button.selected {
  background: hsl(16, 62%, 46%);
  border: hsl(16, 62%, 46%);
  color: hsla(0, 0%, 100%, 1);
}

meta.button.disabled {
  background: hsla(0, 0%, 50%, 0);
  border: hsla(0, 0%, 50%, 0);
  color: hsla(0, 0%, 14%, 0.24);
}

meta.textfield {
  background: hsla(0, 0%, 75%, 0.22);
  border: hsla(0, 0%, 75%, 0.6);
}

meta.textfield.highlighted {
  background: hsl(0, 0%, 100%);
  border: hsla(0, 0%, 75%, 0.5);
}

/* text editing ui */

meta.document.button {
  background: hsla(0, 0%, 100%, 0);
  border: hsla(0, 0%, 69%, 1);
  color: hsla(0, 0%, 28%, 1);
}

meta.document.button.highlighted {
  background: hsla(0, 0%, 90%, 1);
  border: hsla(0, 0%, 69%, 1);
  color: hsla(0, 0%, 14%, 1);
}

meta.document.button.selected {
  background: hsla(0, 0%, 100%, 0);
  border: hsla(0, 0%, 69%, 1);
  color: hsl(16, 62%, 46%);
}

meta.document.button.disabled {
  background: hsla(0, 0%, 89%, 0);
  border: hsla(0, 0%, 69%, 1);
  color: hsla(0, 0%, 76%, 1);
}

meta.document.textfield {
  background: hsla(0, 0%, 91%, 1);
  border: hsla(0, 0%, 86%, 1);
}

meta.document.textfield.highlighted {
  background: hsla(0, 0%, 100%, 1);
  border: hsla(0, 0%, 89%, 1);
}

/* text editing styles */

meta.document {
  background: hsla(0, 0%, 99%, 1);
  border: hsls(0, 0%, 87%, 0);
}

meta.text {
  color: hsla(0, 0%, 20%, 1);
}

meta.text.invisible {
  color: hsla(0, 0%, 8%, 0.1);
}

meta.text.selected {
  background: hsla(178, 47%, 84%, 0.75);
}

meta.cursor {
  background: hsla(0, 0%, 96%, 1);
}

meta.gutter {
  color: hsla(0, 0%, 8%, 0.16);
  font-weight: 400;
}

meta.gutter.selected {
  color: hsla(0, 0%, 8%, 0.5);
  font-weight: 400;
}

/* global syntax styles */

comment {
  color: hsla(0, 0%, 8%, 0.4);
  font-weight: 400;
}

bracket,
semicolon,
dot,
comma,
tag,
operator.colon,
string.delimiter,
json.key.delimiter,
javascript.colon,
tag.framework,
tag.attribute.value.delimiter,
tag.attribute.operator,
style.operator,
style.attribute-list.bracket,
style.selector.separator,
style.attribute.separator {
  color: hsla(0, 0%, 8%, 0.5);
  font-weight: 400;
}

link {
  color: hsla(201, 41%, 47%, 1);
  font-weight: 400;
}

/* keywords */

keyword {
  color: hsla(0, 0%, 20%, 0.7);
  font-style: italic;
  font-weight: 400;
}

keyword.modifier,
keyword.condition,
keyword.construct,
keyword.statement,
keyword.self.prefix,
style.attribute.name,
css.style.rule {
  color: hsla(0, 0%, 20%, 1);
  font-weight: 400;
}

keyword.self {
  color: hsla(316, 28%, 37%, 1);
  font-style: italic;
  font-weight: 400;
}

/* values */

value.number {
  color: hsla(355, 37%, 51%, 1);
  font-weight: 400;
}

value.number.unit {
  color: hsla(359, 42%, 54%, 0.9);
  font-style: italic;
  font-weight: 400;
}

/* identifiers */

identifier,
identifier.name {
  color: hsla(42, 100%, 40%, 1);
  font-weight: 400;
}

identifier.argument,
style.value.identifier.function,
identifier.function {
  color: hsla(174, 33%, 37%, 1);
  font-weight: 400;
}

identifier.constant,
identifier.global,
identifier.variable,
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix,
identifier.property,
identifier.property.prefix,
identifier.decorator {
  color: hsla(0, 0%, 20%, 0.9);
  font-weight: 400;
}

style.variable-definition.identifier.variable.name,
style.value.identifier.variable,
identifier.method {
  color: hsla(26, 100%, 40%, 1);
  font-weight: 400;
}

identifier.key,
string.key,
tag.attribute.name,
tag.framework.attribute.name {
  color: hsla(104, 50%, 32%, 1);
  font-weight: 400;
}

identifier.argument.prefix {
  color: hsla(0, 0%, 20%, 0.9);
  font-weight: 400;
}

/* strings */

string {
  color: hsla(220, 43%, 47%, 1);
  font-weight: 400;
}

string.escape {
  color: hsla(49, 8%, 66%, 0.5);
  font-weight: 400;
}

string-keyword,
string-template,
regex,
regex.escape,
cdata,
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name definition.property.name,
definition.function.name,
definition.method.name {
  color: hsla(49, 8%, 34%, 1);
  font-weight: 400;
}

tag.attribute.value,
tag.attribute.value.link {
  color: hsla(220, 43%, 47%, 1);
  font-style: italic;
  font-weight: 400;
}

/* css */

style.operator,
style.attribute-list.bracket,
style.selector.separator,
style.attribute.separator {
  color: hsla(0, 0%, 8%, 0.5);
  font-weight: 400;
}

style.at-rule.import,
style.string,
style.selector.identifier.id,
style.selector.identifier.class {
  color: hsla(220, 43%, 47%, 1);
  font-weight: 400;
}

tag.name,
tag.framework.name,
style.selector.simple.unknown {
  color: hsla(174, 43%, 35%, 1);
  font-weight: 400;
}

style.selector.element {
  color: hsla(174, 53%, 30%, 1);
  font-weight: 400;
}

style.selector.pseudoclass,
style.selector.pseudoelement {
  color: hsla(203, 42%, 47%, 1);
  font-weight: 400;
}

style.value.color.hex,
style.value.color.named {
  color: hsla(358, 37%, 63%, 1);
  font-weight: 400;
}

style.value.keyword {
  color: hsla(338, 50%, 54%, 1);
  font-weight: 400;
}

style.variable-definition.identifier.variable.name,
style.value.identifier.variable {
  color: hsla(26, 100%, 40%, 1);
  font-weight: 400;
}

/* Markup */

markup.heading {
  color: hsl(15, 75%, 52%);
  font-weight: 600;
}

markup.heading.name {
  color: hsla(0, 0%, 8%, 1);
}

markup.line {
  color: hsla(0, 0%, 8%, 1);
  font-weight: 400;
}

markup.bold {
  color: hsla(0, 0%, 8%, 1);
  font-weight: 600;
}

markup.bold.asterisk {
  color: hsla(174, 33%, 37%, 1);
  font-weight: 600;
}

markup.italic {
  color: hsla(174, 33%, 37%, 1);
  font-weight: 400;
  font-style: italic;
}

markup.strikethrough {
  color: hsla(0, 0%, 8%, 1);
  font-weight: 400;
  text-decoration: line-through;
}

markup.list.item {
  color: hsl(15, 75%, 52%);
  font-weight: 600;
}

markup.code {
  color: hsla(0, 0%, 8%, 1);
  font-weight: 400;
}

markup.link {
  color: hsla(0, 0%, 8%, 1);
  font-weight: 400;
}
